/* ALL OPEN */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}

/* ALL CLOSE */

/* BODY OPEN */

body {
  height: 4000px;
  background-color: #f89f32;
  overflow-x: hidden;
}

nav {
  padding: 1rem 7%;
}

section {
  padding: 2rem 7%;
}

/* BODY CLOSE */

/* NAVBAR OPEN */

.navbar {
  width: 100vw;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ee9322;
  position: fixed;
  border-bottom: 0.2rem solid #000;
  z-index: 1;
}

.navbar .header h1 {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
}

.navbar .list {
  margin-left: 30rem;
}

.navbar .list a {
  margin: 0 1.5rem;
  display: inline-block;
  color: #fff;
}

.navbar .list a:hover {
  color: #000;
}

.navbar .list a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid #000;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .list a:hover::after {
  transform: scaleX(100%);
}

.navbar .icon .menu-btn,
.navbar .icon .shopping-cart-btn {
  color: #fff;
  cursor: pointer;
}

.navbar .icon .menu-btn {
  display: none;
}

.navbar .icon .menu-btn:hover,
.navbar .icon .shopping-cart-btn:hover {
  color: #000;
}

/* NAVBAR CLOSE */

/* LANDING PAGE OPEN */

.landingPage {
  width: 100vw;
  height: 100vh;
  padding-top: 10rem;
  overflow-x: hidden;
}

.landingPage .content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.landingPage .content .details img {
  width: 450px;
  animation: UpDown 1s infinite alternate;
}

.landingPage .content .details h1 {
  font-family: "Kalam", cursive;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
}

.landingPage .content .details p {
  margin: 0 0 2.5rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.landingPage .content .details a,
.contact-us .body .form .form-footer button {
  padding: 1rem 2rem;
  background-color: #000;
  border-radius: 30px;
  color: #fff;
  box-shadow: 3px 3px #fff;
  cursor: pointer;
}

.landingPage .content .details a:hover,
.contact-us .body .form .form-footer button:hover {
  background-color: #fff;
  color: #f89f32;
  box-shadow: 3px 3px #000;
}

/* LANDING PAGE CLOSE */

/* ABOUT US OPEN */

.about-us,
.menu,
.contact-us {
  padding-top: 8rem;
}

.about-us .header,
.menu .header,
.contact-us .header {
  text-align: center;
}

.about-us .header h1,
.menu .header h1,
.contact-us .header h1 {
  text-transform: uppercase;
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-size: 3.5rem;
  color: #fff;
}

.about-us .body {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.about-us .body .details p {
  width: 500px;
  margin-bottom: 1rem;
  text-align: justify;
  font-family: "Kanit", sans-serif;
  line-height: 2rem;
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
}

/* ABOUT US CLOSE */

/* MENU OPEN */

.menu .header p,
.contact-us .header p {
  margin-top: 2rem;
  text-align: justify;
  line-height: 2rem;
  font-weight: 500;
  font-size: 1.1rem;
  color: #fff;
}

.menu .body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu .body .details {
  margin: 2rem;
  text-align: center;
}

.menu .body .details img {
  width: 200px;
}

.menu .body .details .order-btn:hover {
  transform: scale(1.2);
}

.menu .body .details h5 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.menu .body .details p {
  margin-bottom: 2rem;
}

.menu .body .details button {
  padding: 1rem 2rem;
  background-color: #fff;
  color: #d6913c;
  box-shadow: 5px 5px #000;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.menu .body .details button:hover {
  background-color: #000;
  box-shadow: 5px 5px #fff;
  transform: scale(1.2);
}

/* MENU CLOSE */

/* CONTACT US OPEN */

.contact-us .body {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-us .body .form {
  padding: 1rem 3rem;
  width: 550px;
  border-radius: 30px;
}

.contact-us .body .form .form-header {
  text-align: center;
}

.contact-us .body .form .form-body .form-input {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.contact-us .body .form .form-body .form-input label {
  margin-bottom: 0.5rem;
}

.contact-us .body .form .form-body .form-input input {
  height: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem solid #000;
}

.contact-us .body .form .form-body .form-input #note {
  height: 5rem;
}

.contact-us .body .form .form-footer {
  margin-bottom: 1rem;
  text-align: center;
}

.contact-us .body .location iframe {
  width: 550px;
  height: 650px;
  border-radius: 30px;
  box-shadow: 5px 5px #ccc;
}

/* CONTACT US CLOSE */

/* RESPONSIVE */

/* TABLET MODE OPEN */

@media (max-width: 768px) {
  /* ALL OPEN */

  html {
    font-size: 85%;
  }

  /* ALL CLOSE */

  /* NAVBAR OPEN */

  .navbar .list {
    width: 35vw;
    min-height: 100vh;
    padding: 2rem 0 0 2rem;
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #d6913c;
    display: flex;
    flex-direction: column;
    border-top: 0.2rem solid #000;
    border-left: 0.2rem solid #000;
    transition: 0.2s linear;
  }

  .navbar .list.slide-navbar {
    right: 0;
  }

  .navbar .list a {
    width: fit-content;
    margin: 2rem 0;
    font-size: 1.1rem;
  }

  .navbar .list a::after {
    transform-origin: 0 0;
  }

  .navbar .icon {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
  }

  .navbar .icon .menu-btn {
    display: block;
  }
  /* NAVBAR CLOSE */

  /* LANDING PAGE OPEN */

  .landingPage .content {
    gap: 3rem;
  }

  .landingPage .content .details img {
    width: 350px;
  }

  /* LANDING PAGE CLOSE */

  /* ABOUT US OPEN */

  .about-us .body {
    margin-top: 1rem;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .about-us .body .details p {
    width: 600px;
  }

  .about-us .body .details img {
    width: 400px;
  }

  /* ABOUT US CLOSE */

  /* CONTACT US OPEN */

  .contact-us .body {
    flex-direction: column;
    gap: 2rem;
  }

  .contact-us .body .form,
  .contact-us .body .location iframe {
    width: 450px;
  }

  .contact-us .body .location iframe {
    height: 500px;
  }

  /* CONTACT US CLOSE */
}
/* TABLET MODE CLOSE */

/* MOBILE OPEN */

@media (max-width: 450px) {
  /* ALL OPEN */

  html {
    font-size: 70%;
  }

  /* ALL CLOSE */

  /* NAVBAR OPEN */

  .navbar .list {
    width: 40vw;
  }
  /* NAVBAR CLOSE */

  /* LANDING PAGE OPEN */

  .landingPage .content {
    flex-direction: column;
  }

  /* LANDING PAGE CLOSE */

  /* ABOUT US OPEN */

  .about-us .body .details p {
    width: 400px;
  }

  .about-us .body .details img {
    width: 300px;
  }

  /* ABOUT US CLOSE */

  /* CONTACT-US OPEN */

  .contact-us .body .form,
  .contact-us .body .location iframe {
    width: 350px;
  }

  .contact-us .body .location iframe {
    height: 400px;
  }

  /* CONTACT-US CLOSE */
}
/* MOBILE CLOSE */

/* ANIMATION OPEN */

@keyframes UpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}
/* ANIMATION CLOSE */
